body{
  padding: 0;
  margin: 0;
}
.header{
    height: 700px;
    background-image: url("imagini/header.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}
/*NAVIGATION*/
nav{
  margin: 0;
  padding: 0;
  margin: 0px auto;
  border-bottom: 2px solid white;
  width: 1200px;
}
ul.not-fixed{
  margin: 0px auto;
  display: inline;
}
/*
ul li.nav-menu{
  display: inline;
}
ul li.nav-menu a{
  text-decoration: none;
  font-family: Century Gothic;
  line-height: 180px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 30px;
  color: red;
/*Eliminate padding top and bottom if u want the clickable area to reduce to words and not entire block*/
}/*
ul li.nav-menu a:hover{
  color: #CFCFCF;
} */
a.menu-i{
  color:#CECECE;
  padding-left: 4px;
  font-weight: bold;
}

li.link{
 display: none;
 padding-top: 30px;
 padding-bottom: 30px;
}
.link-border{
  border-bottom: 2px solid #ab8455;
}
.link-border-whyMe{
  border-bottom: 3px solid aqua;
}
li.menu-li{
  padding-top: 30px;
  padding-bottom: 30px;
  //border: 2px solid white;
}
li.menu-li:hover{
  border-bottom: 3px solid #ab8455;
  cursor: pointer;
}
.logo{
   float:right;
   margin-right: 40px;
   margin-top: 20px;
}
nav h3{
  font-family: Century Gothic,sans-serif;
  font-size: 40px;
  float: right;
  color: white;
  margin-top: 15px;
  margin-right: 40px;
}

.header h2{
  font-size: 110px;
  color: white;
  font-family: Century Gothic,sans-serif;
  text-align: center;
  margin-top: 150px;
  letter-spacing: 5px;
  text-decoration: overline;
}
a.header-btn{
  text-align: center;
  color: #fff;
  border-radius: 45px;
  padding: 20px;
  font-family: Century Gothic,sans-serif;
  background-color: #3783D0;
  text-decoration: none;
}
a.header-btn:hover{
  background-color: #2362A0;
  transition: 0.1s;
}
a.header-btn:not(:hover){
  transition: 0.1s;
}
.header p{
  font-size: 55px;
  color: white;
  font-family: Century Gothic,sans-serif;
  text-align:center;
  margin-top: 120px;
}
.tld2{
  display: none;
}
/*=============INFOS==============*/

.infos{
  height:1000px;
}
/*.infos h1{
  text-align: center;
  font-family: Century Gothic;
  font-size: 60px;
  color: #AB8455;
  margin-top: 40px;
}*/
.infos img{

  border-radius: 90px;
  margin-top: 100px;
}
.infos h2{
  text-align: center;
  font-family: Century Gothic,sans-serif;
  font-size: 30px;
  color: #AB8455;
  padding-top: 30px;
}
.infos p{
  line-height: 31px;
  margin-top: 30px;
  width: 1000px;
  font-family: Century Gothic;
  font-size: 20px;
  color: #AB8455;
  margin: 0px auto;
  padding-top: 40px;

}
.infos p.prob{

  color:#ab8455;
}
a.button{
  text-decoration: none;
  font-size: 15px;
  font-weight: bolder;
  font-family: Century Gothic,sans-serif;
  border: 2px solid #ab8455;
  padding: 25px 35px;
  border-radius: 40px;
  background-color: transparent;
  color:#ab8455;
}
a.button:hover{

color: #fff;
 border: 2px solid #ab8455;
 background-color: #ab8455;
}
/*======================================*/

.mywork{
  //background-color: #f2f2f2;
  background-image: url("imagini/work2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  height: 850px;
  padding-top: 60px;

}
.mywork h2{
  text-align: center;
  font-family: Century Gothic,sans-serif;
  font-size: 30px;
  color: #AB8455;
  padding-top: 20px;
  padding-bottom: 60px;
}

.content{
  width: 1200px;
  margin: 0px auto;
  display: none;

}
.work-unit{
  width: 33.333333%;
  height: 250px;

  display: block;
  float: left;
  position: relative;
  overflow:hidden;
  cursor: pointer;
}
.work-over{
 background-color: #6B5335;
 opacity: 0.9;
 position: absolute;
 width: 100%;
 bottom: 0;
 height: 0%;
 text-align:center;
 cursor: pointer;
}
.work-unit:hover .work-over{
 height: 100%;
 transition: all 1s;
}
.work-unit:not(:hover) .work-over{
  transition: all 0.8s;
}
.work-over strong{
  display: block;
  color: white;
  font-family: "Century Gothic";
  padding-top: 60px;
  font-size: 40px;
}
.work-over p{
  display: block;
  color: white;
  font-family: Century Gothic,sans-serif;
  padding-top: 10px;
  font-size: 20px;
}
img{
  background-position: center center;
}
.whyMe{
  height: 1700px;
  background-color: #fff;
  margin-top: -22px;
}
a.together{
  text-decoration:none;
  color: #333;
}
a.together:hover{
  color: #AB8455;
  font-weight: bold;
}
.whyMe h2{
  text-align: center;
  font-family: Century Gothic;
  font-size: 30px;
  color: #AB8455;
  padding-top: 120px;
  padding-bottom: 60px;
}
.whyMe h3{
  font-family: Century Gothic;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 24px;
}
.whyMe p{
  font-family: Century Gothic;
  font-size: 16px;

  float: left;
  padding-left: 25px;
  padding-right: 25px;
  color: #666;
  line-height: 25px;
}
.whyMe-msg{
  width: 90%;
  margin: 0px auto;
  height: 600px;
}

.linie{
  height: 4px;
  width: 100%;
  border-radius: 90px;
  background-color: #444;
  margin: 0 auto;

}

.whyMe-msg h4{
  color: #777;
  font-family:sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;

margin-left: 270px;
margin-right: 50px;
margin-top: -180px;
}
.whyMe-msg img.profilwhy{
  border-radius: 90px;
  margin-left: 31px;
}
//.why-profil2{
  display: none;
}
.whyMe-msg h6.subtitle{
  font-size: 30px;
  color: #4FA4DC;
  font-family: Century Gothic;
  text-align: center;
  margin-top: 31px;
  letter-spacing:normal;

}
.whyMe-content{
  padding-top: 70px;
  height: 600px;
  width: 1220px;
  margin-top: 50px;
//  border: 1px solid black;

}
.handshake2{
  display: none;
}
.chat2{
  display: none;
}
.creative2{
  display: none;
}
.whyMe-unit{
  width: 33.3%;
  display: block;
  height: 100%;
  float: left;
  overflow: hidden;
  padding: 1px solid black;
}
.whyMe-unit:hover{
  background-color: #f6f6f6;
  cursor: crosshair;
  border-bottom: 4px solid #3783D0;
}
.whyMe .details{
  text-align:center;
  padding-top: 20px;
}

.contactMe{
  height: 600px;
  background-color: #E6EBEF;
  //background: linear-gradient(#fff, #ccc);
}
.contactMe h2{
  text-align: center;
  font-family: Century Gothic;
  font-size: 30px;
  color: #AB8455;
  padding-top: 120px;
  padding-bottom: 60px;
}
.contactMe h3{
  text-align: center;
}
.contactMe-container{
  margin: 0px auto;
  //border: 2px solid brown;
  width: 80%;
  height: 200px;
}
i.icon{
  color: #999;
  display: none;
}
span.icon{
  font-family:Century Gothic;
}
.contactMe-container a{
  text-decoration: none;
  color: #999;
}
.contactMe-container a:hover{
  color: #777;
  transition: all 0.4s;
}
.contactMe-container a:not(:hover){
  transition: all 0.4s;
  }
.footer{
  height: 280px;
  background-image:url("imagini/header.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
.footer-opacity{
  width: 100%;
  height: 100%;
  background-color: #6B5335;
  opacity: 0.3;
  transition: all 2s;
  margin: 0;
}
.linie2{
  height: 4px;
  width: 0%;
  background-color: #fff;
  top: 40px;
  margin: 0 auto;
  transition: 3s;
}
p.copy{
color: #fff;
font-family: Century Gothic;
font-size: 20px;
text-align: center;
transition: all 4s;
font-weight: lighter;
}
.lets-work-together{
  padding: 15px;
  margin-top: 50px;
  color:#fff;
  background-color:#3783D0;
  font-family: Century Gothic;
  border: 2px solid #3783D0;
  cursor: pointer;
  border-radius: 40px;
  font-size: 20px;
}
/*==================*/


.scrollUp{
  border: 2px solid white;
  cursor: pointer;
  padding: 11px 30px 11px 30px;
  border-radius: 15px;

}
.scrollUp:hover{
  background-color: #000;
  border-color: #3783D0;
  transition: 0.4s;
}
.scrollUp:not(:hover){
  transition: 0.4s;
}
