/*NAVIGATION*/
.nav-fixed{

  margin: 0px auto;
  border-bottom: 2px solid black;
  width: 100%;
  z-index: 3;
  background-color: black;
  opacity: 0.99;
  display: none;
  position: fixed;
}
ul.fixed{
  margin: 0px auto;
  width: 1160px;
  //border: 1px solid white;
}
/*=====fixed links to create a more beutiful menu :) ===== =====*/

ul li{
  display: inline;
}
ul li a{
  text-decoration: none;
  font-family: Century Gothic;
  line-height: 80px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
ul li a:hover{
  color: #CFCFCF;
}
a.menu-i{
  color:#CECECE;
  padding-left: 4px;
  font-weight: bold;
}
.link{
  display: none;
}
li.menu-li{
  padding-top: 30px;
  padding-bottom: 30px;
  overflow: auto;

}
li.menu-li:hover{
  border-bottom: 3px solid #ab8455;
  cursor: pointer;
}
